// You should get Auth Token in the Blynk App.
// Go to the Project Settings (nut icon).
char auth[] = "";
char server[] = "blynk.innovationgarage.no";
int server_port = 80;

// Just for the boot msg and help
char machine_name[] = "";

// Your WiFi credentials.
// Set password to "" for open networks.
char ssid1[] = "", pass1[] = "";
char ssid2[] = "", pass2[] = "";
char ssid3[] = "", pass3[] = "";
